﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="LoginService.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Username   "></asp:Label>
        <asp:TextBox ID="txtusername" runat="server"></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="Password"></asp:Label>
        <asp:TextBox ID="txtpass" runat="server"></asp:TextBox>



        <asp:Button ID="btnlogion" runat="server" Text="login" OnClick="btnlogion_Click" />
    

        <asp:Label ID="Label3" runat="server" Text=""></asp:Label>
        <asp:Label ID="Label4" runat="server" Text=""></asp:Label>
        <asp:Label ID="Label5" runat="server" Text=""></asp:Label>
        <asp:Label ID="Label6" runat="server" Text=""></asp:Label>
        <asp:Label ID="Label7" runat="server" Text=""></asp:Label>


    </div>
    </form>
</body>
</html>
